Checks: "-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-init-variables,
  google-readability-avoid-underscore-in-googletest-name,
  google-runtime-int,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -misc-no-recursion,
  -readability-function-cognitive-complexity
  -readability-magic-numbers"
WarningsAsErrors: "*"
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: 1
